<style>
    .heading {
        width: 100%;
        /* border-bottom: .2rem solid rgba(0, 0, 0, .3); */
        border-bottom: .2rem solid #009833;
        /* margin: 0 auto; */
        text-align: left;
        line-height: 0;
    }
    
    .heading span {
        font-size: 0.8rem;
        /* padding: 1rem 6rem; */
        padding: 0.8rem 0.4rem;
        color: #fff;
        /* background: #00b49d; */
        background: linear-gradient(29deg, #26b5eb 0, #1cafbc 49%, #1ab174 94%);
        display: inline-block;
    }
    
    .heading span {
        border-top-right-radius: 3rem;
    }
    
    .content ul {
        list-style: none;
        padding: 0;
    }
    
    .content ul li {
        padding-left: 28px;
        position: relative;
        margin-bottom: 8px;
    }
    
    .content ul li i {
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 13px;
        color: #1acc8d;
        line-height: 0;
    }
</style>
<!-- Footer Section Starts -->


<footer id="footer">
    <div class="footer-top">

    </div>
    <!-- <hr style="background: #fff;width: 85%;height: 1px;"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    Copyright © {{currentYear}} All Rights Reserved To <span><strong>ZHURION</strong></span>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Footer Section Ends -->